@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: Merri-b;
	src: url(  "../fonts/Merriweather-Bold.ttf")
}
@font-face
{
	font-family: Merri-r;
	src: url(  "../fonts/Merriweather-Regular.ttf")
}
@font-face
{
	font-family: robo-r;
	src: url(  "../fonts/Roboto-Regular.ttf")
}

body, input
{
	font-family: robo-r;
}
input
{
	border: none;
	outline: none;
}
ul,ol,li
{
	list-style: none;
}
button
{
	border: none;
	font-family: robo-r;
}
.button1
{
	background-color: #29C2D7;
	height: 50px;
	border-radius: 5px;
	
}
.button1 a
{
	text-decoration: none;
	border: none;
	color:white;
	font-size: 36px;
	font-weight: bold;
	font-family: Merri-b;
	text-align: center;
	line-height: 50px;
	
}
.button1:hover
{
	background: linear-gradient(to right, #29C2D7,#FFA900);
}

h1 
{
	color: #0432FF;
	font-size: 48px;
	font-weight: bold;
	font-family: Merri-b;
}
h2
{
	color: #29C2D7;
	font-size: 36px;
	font-weight: bold;
	font-family: Merri-b;
}
h3
{
	color: #3C3C3C;
	font-size: 20px;
	font-family: Merri-r;
	font-weight: bold;
	margin-top: 24px;
}
.para16
{
	font-family: robo-r;
	font-size: 16px;
	
}
table, th, td 
{
	border: 1px solid black;
 	border-collapse: collapse;
	padding-top: 6px;
	padding-bottom: 6px;
}
.tab-item
{
	height: 100px;
}
/*header*/
.IconHead
{
	font-size: 40px;
	line-height: 60px;
	padding: 0px 8px 0px 0px;
	margin: 0px;
	color: #0e54ae;
	
}
.HeadTitle1
{
	margin: 0px;
	font-weight: 400;
	font-size: 22.4px;
}
.HeadTitle2
{
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	font-size: 12.8px;
}
.head:hover .HeadTitle1
{
	color: #FFA900;
}
.head:hover .HeadTitle2
{
	color: #FFA900;
}
.head:hover .IconHead
{
	color: #FFA900;
}
/*head end*/
/*navbar start*/
#menu
{
	border-top: 1px solid #ddd;
	line-height: 50px;
	padding: 0px;
	margin: 0px;
}

#menu .nav-item
{
	padding: 0px;
	margin: 0px 16px;
}
#menu .nav-item:hover
{
	box-shadow: 0px 0px 10px rgba(00,00,00,0.25);
}
#menu .nav-link
{
	padding: 0px 24px;
}
#menu .header-icon 
{
	
	color: #0e54ae;
	
}

#menu .nav-item .search
{
	border: none;
	background: none;
	margin: 0px;
	line-height: 50px;
}
#menu .nav-item .s-input
{
	background-color: white;
	margin: 0px;
	height: 32px;
	width: 160px;
	margin-top: 10px
}
#menu .nav-item .search:hover
{
	color: #FFA900;
}
#menu .header-icon .fa-brands:hover
{
	color: #FFA900;
}
.nav2
{
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 10;
	border-bottom: 1px solid #ddd;
	background-color: white;
	width: 100%
}
.dropdown
{
	position: relative;
	display: inline-block;
}
#menu .dropdown-menu
{
	position: absolute;
	display: none;
}
.dropdown-menu a {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}
#menu .dropdown:hover .dropdown-menu 
{	
	display: block;
	box-shadow: 2px 2px 10px rgba(00,00,00,0.25);
	border: none;
}
/*nav hover*/
.nav-button
{
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	display: flex;
}
.nav-button svg
{
	height: 50px;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	color: #000000
}
.nav-button rect
{
	fill: none;
	stroke-width: 3;
	stroke-dasharray: 450, 0;
	transition: all 1s linear;
}
.nav-button:hover rect
{
	stroke: #29C2D7;
	stroke-width: 5;
	stroke-dasharray: 10 20 30 400;
	stroke-dashoffset: 50%;
	transition: all 1s cubic-bexier(0.22, 1, 0.25, 1);
}
.dropdown-toggle::after
{
	margin-top: 20px
}
/*nav hover*/
/*navbar end*/
/*content*/
/*banner*/

#banner .carousel-caption
{
	text-align: left;
	right: auto;
	top: 200px;
}

#banner
{
	z-index: 1;
}

#banner h2
{
	color: #FFA900
}
.intro
{

	background-color: #6C6C6C;
	font-family: Merri-r;
	font-size: 20px;
	color: white;
	margin-top: 24px;
	padding: 50px 12px 35px 12px;
}
.KH
{
	margin-top: 24px;
	margin-left: 12px;
	padding: 35px 12px 35px 12px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(00,00,00,0.25);
}
#Review .KH-img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.comment
{
	padding: 35px 12px 35px 12px;
}
.line
{
	height: 1px;
	background-color: #ddd;
	margin: 24px 0px;
}
.line2
{
	height: 1px;
	background-color: #ddd;
	margin: 0px 0px 12px 0px;
}

.srvice
{
	height: 500px;
	position: relative;
	background-color: #29C2D7;
	padding: 0px;
	margin-top: 12px;
	overflow: hidden;
}
.img1
{
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 1;
	height: 190px;
}
.icon
{
	position: absolute;
	left: 24px;
	top: 153px;
	width: 85px;
	height: 85px;
	background-color: white;
	text-align: center;
	z-index: 2;
	line-height: 85px;
}
.img2
{
	height: 60px;
}
.srvice h2
{
	position: absolute;
	left: 24px;
	top: 265px;
	color: white;
}
.srvice p
{
	position: absolute;
	left: 24px;
	top: 322px;
	color: white;
	margin-right: 24px;
}
.srvice:hover .img1
{
	transform: scale(1.1);
	transition: 0.5s;
	
	
}

.SectionNVien
{
	margin-top: 24px;
	padding: 0px;
	background-image: url( "../images/phong kham 1.png")
}
.NhanVien
{

	background-color: #D9D9D9
}
.NhanVien p
{
	padding: 0px 12px;
}
.NhanVien h3
{
	padding: 0px 12px;
	text-align: center
}
.sectionLichLV
{
	margin-top: 24px;
	padding: 0px;
	background-image: url( " ../images/background-doctor 1.png")
}

.frame4
{	
	background-color: #D9D9D9;
	margin-top: 60px;
}
.frame4 p
{
	font-size: 16px;
	font-family: robo-r;
	padding: 12px;
}
.frame4 img
{
	width: 80px;
	height: 80px;
	background-color: #29C2D7;
	border-radius: 50%;
	margin-top: -40px;
	justify-content: center;
}
.buoc1
{
	border: solid 3px #29C2D7;
	border-radius: 10px;
}
.b1
{
	background-color: #0432FF;
	width: 66px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-top: -10px;
}
.b1 p
{
	color: white;
}

.BnDv
{
	background-image: url( "../images/doi-ngu-nhan-vien-nha-khoa-da-nang-2048x1316 1.png");
 }
.BNDVu2
{
	overflow: hidden;
	background-image: url( "../images/Untitled-2.png");
	
	background-size: auto
}
.BNDVu2 h1
{
	margin-top: 50px
}
.MenuDV1
{
	background-color: rgba(04,50,255,1);
	height: 550px;
	padding: 24px;
	margin-left: 48px
}
.MenuDV1 h2
{
	color: white;
	text-align: center;
}
.MenuDV1 a
{
	text-decoration: none;
	color: white;
}
.MenuDV2
{
	background-color: rgba(04,50,255,0.6);
	padding: 24px;
	top: 100px;
	position: fixed;
	z-index: 10;
/*	position: fixed;*/
/*	top: 100px;
	*/
	
}
.MenuDV2 h2
{
	color: white;
	text-align: center;
}
.MenuDV2 a
{
	text-decoration: none;
	color: white;
}
.BnHead
{
	margin-top: 24px;
	border-bottom: solid 1px #000;
	
}
.BnContent
{
	margin-top: 12px
}

.DvReview
{
	background-image: url( "../images/background-5.jpg");
}
.DvReviewHead
{
	padding-left: 24px;
	border-right: solid 1px #000;
}

.BoxYKien
{
	margin-left: 12px;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 35px 12px 35px 12px;
	z-index: 9;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(00,00,00,0.25);
}
.ContentDV2 ul li
{
	list-style: circle;
}
/**********************dich vu end******************/
/***********************bang gia*******************/
.Banner2
{
	padding-top: 36px;
	background-color: rgba(04,50,255,0.6);
	height: 400px;
	overflow: hidden;
	margin-bottom: 36px;
}
.BG2 h1
{
	color: white;
}
.BG2 p
{
	color: white;
}
.BGiaContent h2
{
	margin-top: 24px
}
.BGiaContent h3
{
	color: #29C2D7;
}
.BGiaGoi li
{
	list-style: circle;
}
.BGiaGoi .line
{
	background-color: black;
}
#BGiaGoi2 .frame4
{
	background-color: #29C2D7;
}
#BGiaGoi2 .frame4 img
{
	background-color: #D9D9D9;
	color: white;
}
/*******************************bang gia end***********************/
/*******************************blog Trồng Răng Implant***********************/
.pagination button
{
	background: none;
}
.pagination a
{
	border-radius: 5px;
	margin: 0 4px;
}
.pagination a.active
{
	background-color: gray;
}
.BlogMenu
{
	border: solid 2px #D9D9D9;
	padding: 12px
}
.BlogMenu button
{
	background: none;
	box-shadow: 0px 0px 10px rgba(00,00,00,0.25);
}
.BlogMenu input
{
	background: none;
	box-shadow: 0px 0px 10px rgba(00,00,00,0.25);
	margin-bottom: 36px;
}
.BaiViet ul li
{
	list-style: circle;
	margin-left: 24px
}
.BaiViet img
{
	text-align: center;
	justify-content: center;
	margin: auto
}
/*******************************footer start************************/
.footer
{
	border-top: 1px solid #ddd;
	padding: 12px 12px;
	margin-top: 24px;
	text-align: left;
}
.footer .logo
{
	transform: scale(0.8);
	text-align: left;
	margin: 0;
	padding-left: 0
}
.footer h2
{
	line-height: 60px;
}
.footer .IconHead
{
	font-size: 26px;
	line-height: 40px;
	padding: 0px 8px 0px 0px;
	margin: 0px;
	color: #0e54ae;

}
.footer .HeadTitle1
{
	font-weight: 400;
	font-size: 14px;
}
.footer .HeadTitle2
{
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	font-size: 10.8px;
}

/*footer end*/
@media screen and (max-width:1399px)
{
	
}
@media screen and (max-width:1199px)
{
	
}

@media screen and (max-width:991px)
{
	h1 
	{
		color: #0432FF;
		font-size: 36px;
		font-weight: bold;
		font-family: Merri-b;
	}
	.logo
	{
		display: none
	}
	.nav2
	{
		display: none;
	}
	.MenuDV1
	{
		background-color: rgba(04,50,255,0.6);
		height: 550px;
		padding: 24px;
		margin-bottom: 24px;
	}
	.MenuDV2
	{
		background-color: rgba(04,50,255,0.6);
		padding: 24px;
		position:inherit
	}
	#banner .carousel-caption
	{
		text-align: left;
		right: auto;
		top: 50px;
	}
	.Banner2
	{
		padding-top: 60px;
		background-color: rgba(04,50,255,0.6);
		height: 200px;
		overflow: hidden;
		margin-bottom: 36px;
	}
	.BnContent
	{
		margin-top: 24px
	}
	
	.BnContent p
	{
		display: none
	}
	.BnContent h3
	{
		line-height: 80px;
	}
	.footer p
	{
		display: none
	}
	.HeadTitle1
	{
		margin: 0px;
		font-weight: 400;
		font-size: 18px;
	}

}
@media screen and (max-width:767px)
{
	.logo
	{
		display: none
	}
	.BnContent
	{
		margin: 0px
	}
	.footer p
	{
		display: none
	}
	.nav2
	{
		display: none;
	}
}
@media screen and (max-width:575px)
	
{
	.nav2
	{
		display: none;
	}
	.logo
	{
		display: none
	}
	.logo p
	{
		display: none
	}
	.IconHead
	{
		font-size: 26px;
		line-height: 30px;
		padding: 0px 8px 0px 0px;
		margin: 0px;
		color: #0e54ae;

	}

	#banner .carousel-caption
	{
		text-align: left;
		right: auto;
		top: 10px;
	}
	#banner h2
	{
		font-size: 20px;
	}
	#banner h1
	{
		font-size: 20px;
	}
	.button1
	{
		background-color: #29C2D7;
		height: 25px;
		border-radius: 5px;

	}
	.button1 a
	{
		text-decoration: none;
		border: none;
		color:white;
		font-size: 16px;
		font-weight: bold;
		font-family: Merri-b;
		text-align: center;
		line-height: 25px;
	}

	.intro
	{
		padding: 24px 12px 12px 12px;
	}
	.intro p
	{
		font-size: 14px;
	}

	.BnContent img
	{
		line-height: 60px
	}
	.BnContent h3
	{
		line-height: 60px;
		margin: 8px;
	}
	.HeadTitle1
	{
		margin: 0px;
		font-weight: 400;
		font-size: 14px;
	}
	.HeadTitle2
	{
		padding: 0px;
		margin: 0px;
		font-weight: 400;
		font-size: 10.8px;
	}
	.MenuDV2
	{
		background-color: rgba(04,50,255,0.6);
		padding: 24px;
		position:inherit;
		margin-bottom: 24px;
	}
	.Banner2
	{
		padding-top: 20px;
	}
	.Banner2 h1
	{
		font-size: 24px;
	}
	.Banner2 p
	{
		margin-bottom: 0px
	}
	.BlogNhaKhoaIconBlog img
	{
		display: none;
	}
	.footer h2
	{
		display: none
	}
}